@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
  padding: 0;
  margin: 0;
}


@font-face {
  font-family: "semibold";
  src: url('./assets/gg sans Semibold.ttf');
}

@font-face {
  font-family: "medium";
  src: url('./assets/gg sans Medium.ttf');
  /* Wrap font name having spaces in ther name, with '' */
}

@font-face {
  font-family: "regular";
  src: url('./assets/gg sans Regular.ttf');
}

@font-face {
  font-family: "bold";
  src: url('./assets/gg sans Bold.ttf');
}

/* html{
  scroll-behavior: smooth;
} */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: "semibold";
  font-size: 16px;
  padding: 0.6% 0;
  position: fixed;
  z-index: 999;
}

.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(237, 237, 237, 0.543);
  /* Adjust opacity here (0.8 = 80% opaque) */
  backdrop-filter: blur(25px);
}

.logo_name {
  color: #f4f4f4;
  transition: color 0.3s ease;
}

.logo_name.scrolled h1 {
  color: #292929;
}

.main_routes p {
  color: #f4f4f4;
  transition: color 0.3s ease;
}

.main_routes.scrolled p {
  color: #292929;
}

.Login button {
  color: #292929;
  transition: color 0.3s ease;
}

.Login.scrolled button {
  color: #f4f4f4;
  background-color: #292929;
}


.logo_name {
  align-self: center;
}

.logo_name h1 {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f4f4f4;
  margin-left: 6%;
}

.main_routes {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.main_routes p {
  color: #f4f4f4;
}

.About,
.Contact,
.Pricing,
.Support,
.Login {
  align-self: center;
}

.Login {
  width: 5%;
  height: 5.5vh;
}

.login-btn {
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
  border-radius: 50px;
  font-family: "semibold";
  /* Use quotes around font family names with spaces */
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 100%;
}

.login-btn:active {
  transform: scale(0.96);
  transition: 0.1s ease-in-out;
}

.jamify-btn {
  width: 150%;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
  border-radius: 50px;
  font-family: "semibold";
  /* Use quotes around font family names with spaces */
  font-size: 16px;
  font-weight: 600;
  height: 100%;
}

.jamify-btn:active {
  transform: scale(0.96);
  transition: 0.1s ease-in-out;
}

.Banner {
  background-color: #DF5333;
  display: flex;
  justify-content: center;
  padding-top: 25vh;
  padding-bottom: 2vh;
}

.Heading h1 {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-size: 52px;
  color: #f4f4f4;
}

.Description {
  margin-top: 3%;
}

.Description p {
  color: #f4f4f4;
  font-family: "regular";
  font-size: 18px;
  text-align: center;
}

.Banner_buttons {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 80px 0 80px;
  margin-top: 3%;
}

.Explore,
.Learn_more {
  display: flex;
}

.Explore-btn {
  border: none;
  height: 90%;
  border-radius: 50px;
  width: 190px;
  background-color: #f4f4f4;
  cursor: pointer;
  font-size: 18px;
  font-family: "semibold";
  z-index: 2;
}

.Learn_more-btn {
  border: none;
  height: 90%;
  border-radius: 50px;
  width: 200px;
  background-color: #292929;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 18px;
  font-family: "semibold";
}

.illustration-1 {
  margin-left: -50%;
  margin-top: -20%;
  z-index: -1;
}

.illustration-2 {
  margin-left: 95%;
  margin-top: -41%;
  z-index: -1;
}

.Section-1 {
  padding-top: 14%;
  display: flex;
  padding-bottom: 14%;
  justify-content: space-around;

}

.left {
  padding-left: 14%;
}

.right {
  padding-right: 14%;
}

.right h1 {
  font-family: "Bold";
  color: #292929;
  font-size: 64px;
  line-height: 70px;
}

.sec-text-1 p {
  color: #101318;
  font-family: "medium";
  font-weight: 900;
  font-size: 18px;
}

.sec-text-1 {
  margin-top: 5%;
}

.Section-2 {
  padding-top: 14%;
  display: flex;
  padding-bottom: 14%;
  justify-content: space-between;
}

.left-2 {
  padding-left: 14%;
}

.left-2 h1 {
  font-family: "Bold";
  color: #292929;
  font-size: 64px;
  line-height: 70px;
}

.sec-heading-2 {
  display: flex;
}

.label {
  border: 1.5px solid black;
  background-color: #E4E759;
  width: 25%;
  border-radius: 50px;
  font-family: "medium";
  font-weight: 800;
  font-size: 12px;
  padding: 8px 0 8px 0;
  text-align: center;
  translate: 190% -135%;
}

.sec-text-2 {
  color: #292929;
  font-family: "medium";
  font-weight: 900;
  font-size: 18px;
}

.right-2 {
  padding-right: 14%;
}

.Section-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 6% 0 8% 0;
}

.Section-3.route {
  padding: 7% 0 0 0;
}



.pricing-head h1 {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-size: 52px;
  color: #292929;
}

.pricing-title {
  color: #292929;
  font-family: "medium";
  font-weight: 900;
  font-size: 18px;
  margin-top: 30px;
}

.plans {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  width: 675px;
}

.plan-1-heading h2,
.plan-2-heading h2 {
  height: 68px;
  display: flex;
  align-items: end;
  font-family: "semibold";
  font-size: 28px;
  font-weight: 900;
}

.plan-2-heading {
  display: flex;
  align-items: end;
}

.plan-2-heading svg {
  translate: 15% 20%;
  z-index: -1;
}

.plan-1-cost h1,
.plan-2-cost h1 {
  font-family: "semibold";
  font-size: 35px;
  font-weight: 900;
}

.Recommendation p {
  color: #292929;
  font-family: "medium";
  font-weight: 900;
  font-size: 18px;
}

.Button-1,
.Button-2 {
  margin-top: 10%;
}

.Button-1 button {
  border: none;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid #292929;
  width: 230px;
  height: 48px;
  cursor: pointer;
  font-size: 16px;
  font-family: "semibold";
}

.Button-2 button {
  border: none;
  background-color: #292929;
  color: #f4f4f4;
  border-radius: 50px;
  width: 230px;
  height: 48px;
  cursor: pointer;
  font-size: 16px;
  font-family: "semibold";
}

.perks {
  margin-top: 15%;
}

.perk-1,
.perk-2,
.perk-3 {
  font-family: "medium";
  font-size: 18px;
  color: #636363;
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.perk-1 svg,
.perk-2 svg,
.perk-3 svg {
  margin-right: 10px;
}

.money {
  margin-top: -16%;
  margin-left: -75%;
}

.money.route {
  margin-top: -24%;
  margin-left: -75%;
}

.Section-4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5% 0 8% 0;
  background-color: #FFFAEA;
}

.last-heading h1 {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-size: 52px;
  color: #292929;
  text-align: center;
}

.last-title {
  color: #292929;
  font-family: "medium";
  font-weight: 900;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
}

.frame {
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.video {
  margin-top: -58%;
}

video::-webkit-media-controls-timeline {
  height: 6px;
  /* Adjust as needed */
}

video::-webkit-media-controls-volume-slider {
  width: 50px;
  /* Adjust as needed */
}

video::-webkit-media-controls-fullscreen-button {
  display: block;
  /* Optionally hide fullscreen button */
}

.parent {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parent.about {
  /* padding: 2% 0 0 0; */
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about {
  padding-top: 1%;
  width: 48vw;
}

.about-head h1 {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-size: 52px;
  color: #292929;
}

.about-title {
  margin-top: 4%;
  color: #292929;
  font-family: "medium";
  font-weight: 900;
  font-size: 18px;
  text-align: justify;
}

.contact-head {}

.contact-head h1 {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-size: 52px;
  color: #292929;
}

.contact-title {
  color: #292929;
  font-family: "medium";
  font-weight: 900;
  font-size: 18px;
  margin-top: 20px;
}

.links {
  margin-top: 5%;
  width: 30%;
  font-family: "semibold";
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 290px;
}

.link-1,
.link-2,
.link-3,
.link-4 {
  /* width: 100%; */
  padding-left: 6%;
  display: flex;
  height: 100%;
  align-items: center;
  font-family: "semibold";
  font-size: 18px;
  background-color: #F5F5F5;
  border-radius: 20px;
  height: 25%;
  border: 1px solid #B3B3B3;
}

.links p {
  margin-left: 4%;
}

.links a {
  margin-left: 45%;
}

.visit-btn {
  width: 110px;
  height: 35px;
  border-radius: 12px;
  border: none;
  background-color: #292929;
  color: #f4f4f4;
  cursor: pointer;
}

.footer-box {
  background-color: #292929;
  height: 450px;
}

.first {
  display: flex;
  padding-left: 13%;
}

.web_name {
  display: flex;
}

.Login.signup {
  padding-left: 34%;
}

.sidebar {
  position: fixed;
  background-color: #1E1F22;
  width: 6%;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.home-btn,
.browse-btn,
.chat-btn,
.saved-btn,
.settings-btn,
.logout-btn {
  background-color: #2B2D31;
  border-radius: 50px;
  border: none;
  padding: 10px;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home-btn:hover,
.browse-btn:hover,
.chat-btn:hover,
.saved-btn:hover,
.settings-btn:hover,
.logout-btn:hover {
  transition: 0.2s ease-in-out;
  border-radius: 22px;
  background-color: #DF5333;
}

.tooltip {
  width: 4%;
  height: 4%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  background-color: #222222;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  font-size: 12px;
  transition: opacity 0.3s;
  translate: 195%;
}

.home-btn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #222222 transparent transparent;
}

.custom-hr {
  border: 2px solid #51545B;
  border-radius: 4px;
}

.sidebar-1 {
  height: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar-2 {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar-routes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  height: 100%;
}

.logout {
  padding-bottom: 50%;
}

.item1 {
  grid-area: message;
  background-color: #DF5333;
  display: flex;
  padding-left: 5%;
}

.item1 h3 {
  font-family: "bold";
  font-size: 32px;
  color: #FFFAEA;
}

.item1 p {
  font-size: 18px;
  font-family: "medium";
  color: #fff;
  opacity: 60%;
}

.line-1 {
  background-color: #181A1C;
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 24px;
  cursor: pointer;
}

.item2 {
  grid-area: upload;
  border: 3px solid#DF5333;
  background-color: #1C1D20;
  font-family: "semibold";
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item2 p {
  font-family: "semibold";
  font-size: 16px;
  color: #FFFAEA;
}

.choose {
  font-family: "medium";
  font-weight: 800;
  font-size: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 2px solid #B2B2B2;
  color: #FFFAEA;
  border-radius: 50px;
  padding: 5% 10% 5% 10%;
  margin-top: 6%;
}

.item3 {
  grid-area: room-1;
}

.item4 {
  grid-area: room-2;
}

.item5 {
  grid-area: room-3;
}

.item6 {
  grid-area: log;
  background-color: #1C1D20;
  padding-left: 5%;
  padding-top: 4%;
}

.item6 h3 {
  font-family: "bold";
  font-size: 24px;
  color: #FFFAEA;
}

.item6 li {
  font-family: 'regular';
  color: #fff;
  font-size: 14px;
  margin-left: 4%;
  margin-top: 5%;
}

.item7 {
  grid-area: scan;
  background-color: #1C1D20;
  padding-left: 13%;
}

.item7 h1 {
  font-family: 'bold';
  font-size: 138px;
  color: #DF5333;
}

.item7 p {
  font-family: "semibold";
  font-size: 18px;
  color: #FFFAEA;
}

.item8 {
  grid-area: plan;
  background-color: #1C1D20;
  padding-left: 8%;
  padding-top: 10%;
  padding-right: 8%;
}

.item8 h1 {
  font-family: 'bold';
  font-size: 36px;
  color: #FFFAEA;
}

.item8 button {
  font-family: 'bold';
  font-size: 16px;

}


.grid-container {
  display: grid;
  grid-template-areas:
    'message message message upload upload'
    'room-1 room-2 room-3 upload upload'
    'log log log scan plan';
  gap: 24px;
  background-color: #101113;
  height: 92vh;
  padding: 2% 4% 1.9% 10%;
  grid-template-columns: repeat(3, 10fr) 15fr 20fr;
  /* Adjust as needed */
  grid-template-rows: 44fr 76fr 87fr;
}

.sign-in-container{
  background-color: #101113;
  height: 92vh;
  padding: 2% 4% 1.9% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8%;
}

.sign-in-container h3{
  color: #FFFAEA;
  font-family: "bold";
  font-size: 32px;
}

.login-btn-dashboard{
  background-color: #DF5333;
  border: none;
  padding: 1% 14%;
  border-radius: 12px;
  font-family: medium;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFAEA;
}

.grid-container>div {
  border-radius: 36px;
}

.grid-container-browse {
  height: 91.8vh;
  padding: 5% 4% 0% 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  background-color: #101113;
}

.layer-1 {
  position: relative;
  z-index: 1;
}

.layer-1 img {
  filter: brightness(50%);
}

.object1,
.object2,
.object3,
.object4,
.object5,
.object6,
.object7,
.object8,
.object9,
.object10,
.object11,
.object12 {
  cursor: pointer;
  height: 245px;
}

.text {
  position: relative;
  z-index: 3;
  margin-top: -25%;
  display: flex;
  justify-content: space-around;
}

.name {
  font-family: 'bold';
  font-size: 18px;
  font-weight: 800;
  color: #FFFAEA;
}

.footer {
  background-color: #1B1B1B;
  padding: 3% 4% 3% 4%;
}

.footer-1 {
  display: flex;
  justify-content: space-around;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo h1 {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #f4f4f4;
  margin-left: 1%;
}

.footer-descrip p {
  font-family: 'medium';
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  font-family: 'medium';
  justify-content: center;
  justify-content: space-evenly;
}

.policy {
  color: #888888;
}

.footer-links a:hover,
.figma-link a:hover {
  color: #fff;
  transition: 0.2s ease-in-out;
}

.Signup {
  width: 5%;
  height: 5.5vh;
}

.signup-btn {
  border: none;
  background-color: #DF5333;
  cursor: pointer;
  border-radius: 50px;
  font-family: "semibold";
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  color: #f4f4f4;
}

.custom1-hr {
  border: 2px solid #51545B;
  border-radius: 4px;
}

.jamify-btn.footer {
  width: 160%;
  border: none;
  background-color: #DF5333;
  cursor: pointer;
  border-radius: 50px;
  font-family: "semibold";
  /* Use quotes around font family names with spaces */
  font-size: 16px;
  font-weight: 600;
  height: 100%;
  color: #f4f4f4;
}

.jamify-btn.footer:active {
  transform: scale(0.96);
  transition: 0.1s ease-in-out;
}

.footer-2 p {
  font-family: 'medium';
}

.figma-link svg {
  margin-left: 6px;
}

.chat-container {
  background-color: #101113;
  height: 93.9vh;
  padding: 0% 0% 3% 6%;
  display: flex;
}

.sidebar-alt {
  width: 20%;
  background-color: #151619;
  height: 100%;
  position: fixed;
}

.search {
  display: flex;
  justify-content: center;
  padding: 10%;
  height: 5%;
}

.search input {
  color: #121212;
  width: 90%;
  background-color: #FFFAEA;
  border-radius: 14px;
  border: none;
  outline: none;
}

.search-inside {
  padding-left: 20px;
  font-family: 'medium';
  font-size: 16px;
}

.users p {
  font-family: 'semibold';
  color: #FFFAEA;
  padding-left: 6%;
}

.chat-box {
  background-color: #DF5333;
  height: 10vh;
  width: 100%;
  margin-left: 21.2%;
  display: flex;
  align-items: center;
}

.profile-img {
  display: flex;
  margin-left: 3%;
  align-items: center;
}

.profile-img p {
  font-family: 'semibold';
  color: #292929;
  padding-left: 18%;
}

.settings-container {
  background-color: #101113;
  height: 83.9vh;
  padding: 0% 6% 0% 6%;
}

.settings-banner {
  background-color: #000;
  height: 16vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.Clerk-img {
  margin-left: 8%;
  translate: 0 -48%;
}

.settings-box {
  padding: 3%;
  margin-left: 8%;
  background-color: #212328;
  border-radius: 18px;
  height: 60%;
}

.settings-child h1 {
  font-family: 'bold';
  font-size: 36px;
}

.user-about h1 {
  font-family: 'bold';
  font-size: 18px;
}

.user-gender h1 {
  font-family: 'bold';
  font-size: 18px;
}

.rooms {
  font-family: 'semibold';
  font-size: 16px;
  width: 50%;
}

.rooms div div {
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genre-room-container {
  background-color: #101113;
  height: 100vh;
  padding: 0% 0% 3% 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genre-room-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 15vh;
  width: 90%;
  overflow-x: hidden;
  background-color: #101113;
}

.back {
  background-color: #1E1F22;
  border-radius: 100px;
  padding: 10px;
  height: 55px;
  width: 55px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.custom-hr-room {
  border-radius: 4px;
  height: 35%;
  width: 1%;
  background-color: #595F6B;
}

.custom-hr-room-2 {
  margin-top: 2%;
  border-radius: 4px;
  height: 0.3%;
  width: 90%;
  background-color: #595F6B;
}

.notifications {
  background-color: #1E1F22;
  border-radius: 100px;
  padding: 10px;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  width: 25%;
}

.header-right {
  width: 25%;
}

.header-right input {
  background-color: #1E1F22;
  height: 40px;
  width: 240px;
  border-radius: 8px;
  border: none;
  color: #FFFAEA;
}

.search-inside::placeholder {
  font-family: 'semibold';
  color: #595F6B;
  font-weight: 800;
}

.room-name h1 {
  font-family: 'bold';
  color: #FFFAEA;
}

.Live-count p {
  font-family: 'semibold';
  color: #595F6B;
  font-size: 20px;
  font-weight: 800;
}

.Alert {
  position: fixed;
  margin-top: 7%;
  background-color: #DF5333;
  border-radius: 0 0 15px 15px;
  height: 6vh;
  width: 92%;
  display: flex;
  align-items: center;
  padding-left: 2%;
}

.Alert p {
  font-family: 'semibold';
  color: #FFFAEA;
}

.Welcome-msg {
  margin-top: 2%;
}

.Welcome-msg h1 {
  font-family: 'bold';
  color: #FFFAEA;
  text-align: center;
}

.Welcome-msg p {
  margin-top: 1%;
  font-family: 'semibold';
  color: #595F6B;
  font-size: 20px;
  text-align: center;
}

main {
  padding: 10px;
  height: 40vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}

.received p {
  background: #e5e5ea;
  color: black;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}



form {
  height: 5vh;
  position: fixed;
  bottom: 6%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

form input::placeholder{
  font-family: 'semibold';
  color: #595F6B;
  font-weight: 800;
}

form input{
  background-color: #1E1F22;
  height: 40px;
  width: 40%;
  height: 40px;
  border-radius: 8px;
  border: none;
  color: #FFFAEA;
  padding-left: 1%;
}

main::-webkit-scrollbar {
  width: 5px;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #DF5333;
  border-radius: 12px;  
}


ul,
li {
  text-align: left;
  list-style: none;
}

.App{
  background-color: #101113;
  width: 90%;
}

.sign-out, .sign-in{
  background-color: #fff;
  border: none;
  padding: 1% 2%;
  border-radius: 12px;
  font-family: medium;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.sign-in{
  margin-top: 18%;
}


