@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpotifyMix';
  src: url('/fonts/SpotifyMix-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpotifyMix';
  src: url('/fonts/SpotifyMix-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpotifyMix';
  src: url('/fonts/SpotifyMix-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpotifyMix';
  src: url('/fonts/SpotifyMix-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpotifyMix';
  src: url('/fonts/SpotifyMix-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpotifyMix';
  src: url('/fonts/SpotifyMix-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpotifyMix';
  src: url('/fonts/SpotifyMix-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpotifyMix';
  src: url('/fonts/SpotifyMix-Ultra.ttf') format('truetype');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.scrollable-container {
  overflow-y: auto;
}

/* For Webkit browsers like Chrome, Safari */
.scrollable-container::-webkit-scrollbar {
  width: 0.7em;
  background-color: transparent;
}


.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #595858;
  
}

*{
  user-select: none;
  font-family: 'SpotifyMix', sans-serif;
}

/* :root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#google_translate_element {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 1000;
  background-color: #1E1F22;
  color: #595F6B;
  padding: 12px;
  border-radius: 12px;
  display: block;
}

#google_translate_element select::-webkit-scrollbar{
  width: 9px;
  background-color: #ffffff;
}

#google_translate_element select::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background-color: #1E1F22;
}

#google_translate_element select{
  border-radius: 4px;
  border: none;
  font-family: 'semibold';
  font-size: 16px;
}

#google_translate_element a{
  color: #595F6B;
}

body{
  background-color: #101113;
} */